    
.Preview {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    padding-top: 40px;
    flex-direction: column;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  .userinfo {
    width: 909px;
    height: 1276px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 100px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
  
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .userinfo:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  
  .userinfo .title {
    flex: 5%;
    display: grid;
    place-content: center;
    font-size: 24px;
    font-family: "Lucida Console", "Courier New", monospace;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .userinfo .body {
    flex: 60%;
    display: grid;
    font-family: "Lucida Console", "Courier New", monospace;
    place-content: center;
  }
  
  .userinfo .footer {
    flex: 5%;
    display: flex;
    align-items: center;
    padding-left: 15px;
    color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  